<document>
  {{#if single}}
  <productTemplate>
    <banner>
      <infoList>
        <info>
          <header>
            <title>Délka</title>
          </header>
          <text>{{ details.footage }} minut</text>
        </info>
        <info>
          <header>
            <title>Premiéra</title>
          </header>
          <text>{{ details.datePremiere }}</text>
          <text>{{ details.channelPremiere }}</text>
        </info>
      </infoList>
      <stack>
        <title>{{ details.title }}</title>
        <row>
          <ratingBadge value="{{details.ratingFloat}}"></ratingBadge>
          <text>{{ details.ratingPercentage }}%</text>
        </row>
        <description allowsZooming="true" moreLabel="more">{{ details.description }}</description>
        <row>
          <buttonLockup data-href-page="play" data-href-page-options="{{toJSON details }}">
            <badge src="resource://button-play"/>
            <title>Přehrát</title>
          </buttonLockup>
          <buttonLockup id="favorite-btn">
            {{{ favoriteButton }}}
          </buttonLockup>
          <buttonLockup id="watched-btn">
            {{{ watchedButton }}}
          </buttonLockup>
        </row>
      </stack>
      <heroImg src="{{ fullImageURL details.imageURL }}" style="margin-left: 0; width: 544;"/>
    </banner>
    <shelf>
      <header>
        <title>Související pořady</title>
      </header>
      <section>
        {{#each related }}
        <lockup data-href-page="programme-list" data-href-page-options="{{toJSON this }}">
          <img src="{{ fullImageURL imageURL }}" width="384" height="216" />
          <title>{{ title }}</title>
        </lockup>
        {{/each}}
      </section>
    </shelf>
  </productTemplate>
  {{else}}
  <compilationTemplate>
    <list>
      <relatedContent>
        <itemBanner>
          <heroImg src="{{fullImageURL showInfo.imageURL}}" />
          <description id="description" style="tv-text-max-lines: 2"></description>
          <row>
            <buttonLockup id="favorite-btn">
              {{{ favoriteButton }}}
            </buttonLockup>
          </row>
        </itemBanner>
      </relatedContent>
      <header>
        <title>{{ showInfo.title }}</title>
      </header>
      <section>
        {{#each episodes }}
        <listItemLockup data-href-page="play" data-href-page-options="{{toJSON this }}">
          <ordinal minLength="2">{{{watchedState watched }}}</ordinal>
          <title>{{ title }}</title>
          <placeholder>{{ synopsis }}</placeholder>
        </listItemLockup>
        {{/each}}
      </section>
      {{#if paging }}
      <section>
        <listItemLockup data-href-page="programme-list" data-href-page-options="{{ toJSON this }}">
          <title>Další...</title>
        </listItemLockup>
      </section>
      {{/if}}
    </list>
  </compilationTemplate>
  {{/if}}
</document>
