<document>
  <compilationTemplate>
    <list>
      <relatedContent>
        <itemBanner>
          <heroImg src="{{fullImageURL showInfo.imageURL}}" />
          <description id="description" style="tv-text-max-lines: 2"></description>
          <row>
            <buttonLockup id="favButton" style="tv-position: right; margin-left: 100">
              <badge src="{{ ratedState }}" />
            </buttonLockup>
          </row>
        </itemBanner>
      </relatedContent>
      <header>
        <title>{{ showInfo.title }}</title>
      </header>
      <section>
        {{#each episodes }}
        <listItemLockup data-href-page="play" data-href-page-options="{{toJSON this }}">
          <ordinal minLength="2">{{{watchedState watched }}}</ordinal>
          <title>{{ title }}</title>
          <placeholder>{{ synopsis }}</placeholder>
        </listItemLockup>
        {{/each}}
      </section>
      {{#if paging }}
      <section>
        <listItemLockup data-href-page="programme-list" data-href-page-options="{{ toJSON this }}">
          <title>Další...</title>
        </listItemLockup>
      </section>
      {{/if}}
    </list>
  </compilationTemplate>
</document>
