<document>
    <stackTemplate>
        <collectionList>
            <shelf style="margin-top:100">
                <section>
                    {{#each channels }}
                    <lockup data-href-page="play" data-href-page-options="{{toJSON this.live.programme }}">
                        <img src="{{fullImageURL live.programme.imageURL}}" style="width: 1400; height: 650;"/>
                        <overlay>
                            <badge src="{{{asset_url channelLogo}}}" style="width:90; height:54; tv-position: top; background:rgba(0,0,0,0.2)" />
                            <progressBar value="0.{{live.programme.elapsedPercentage}}" style="tv-tint-color2x: black; tv-tint-color: {{tintColor}}"/>
                        </overlay>
                        <title style="text-align: left">{{ live.programme.title }}</title>
                        <subtitle style="text-align: left">{{ next.programme.time }}: {{ next.programme.title }}</subtitle>
                    </lockup>
                    {{/each}}
                </section>
            </shelf>
        </collectionList>
    </stackTemplate>
</document>
